@model PoC.CallLogMvc.Web02.Data.Models.CallLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CallLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallStatus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
